<div class="row" style="padding-bottom:8px">
    <div class="col-12 h4">Actions</div>
    <div class="col-4 text-center justify-content-center">
    <a href="{% url 'charts' r.miner.id %}" data-toggle="tooltip" title="View charts">
        <span class="oi oi-bar-chart"></span>
    </a>
    </div>
    <div class="col-4 text-center justify-content-center">
    <a href="{% url 'restart' r.miner.id %}" data-toggle="tooltip" title="Restart miner">
        <span class="oi oi-reload text-warning"></span>
    </a>
    </div>
    <div class="col-4 text-center justify-content-center">
    <a href="{% url 'reboot' r.miner.id %}" data-toggle="tooltip" title="Reboot machine">
        <span class="oi oi-power-standby text-danger"></span>
    </a>
    </div>
</div>